.private-library {
  .main-content {
    .box-content{
      margin-top: 15px;
      border-top: 5px solid #8dc63f;
      border-bottom: 5px solid #8dc63f;
      height: 100px;
      align-items: center;
    }
    .content-box {
      button{
        margin:0;
      }
      overflow: auto;
      background: #fff;
    }

  }
}