.login-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width:100%;
  }

}



body.login-page{
  background: url("../images/loginBG.jpeg") no-repeat !important;
  background-size:cover !important;
}