@import "fonts/iconfont/iconfont.css";



.search-ini {
  h2 {
    text-align: center;
  }
  img {
    position: relative;
    top: -8px;
  }
}


.search-box {
  margin-top:30px;
  ::-webkit-input-placeholder {
    transition: all .5s ease;
    -webkit-user-select: none;
  }
  .suggestion{
    display: none;
    width:100%;
    background: #fff;
    border:1px solid rgba(64, 187, 234, 0.4);
    border-top: none;
  }
  input:focus+.suggestion{
    display: block;
  }
  .suggestion{
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        padding: 5px 12px;
        transition: .3s ease;
        cursor: pointer;
        &:hover{
          background: #f9f9f9;
        }
      }
    }
  }
  .hot{
    margin-top: 20px;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
        &:first-child{
          color: inherit;
          cursor: default;
        }
        cursor: pointer;
        float: left;
        padding:5px 10px;
        color: #40bbea;
      }
    }
  }
}

.main-result{
  margin-top: 20px;
  background: #fff;
  .main-table{

    th{
      padding: 15px 10px;
      text-align: center;
      white-space: nowrap;

    }
    td{
      white-space: nowrap;
      vertical-align: middle;
      text-align: center;
    }
  }
}

.flexed-center {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;

}

$main-color:#fff;

.cart-fixed {
  cursor: pointer;
  width: 350px;
  line-height: 30px;
  position: fixed;
  bottom: 0;
  padding: 0 10px;
  right: 10%;
  background: $main-color;
  color: #333;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
  z-index: 999;
  overflow: auto;
  .left {
    float: left;
    width: 25%;
    text-align: center;
    i {
      font-size: 20px;
    }
  }
  .right {
    display: block;
    float: right;
    width: 75%;
    text-align: center;
    font-size: 14px;
  }
  .right-open {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    width: 100%;
    right: 10px;
    text-align: right;
    font-size: 14px;
  }
  .bottom {
    cursor: pointer;
    height: 0;
    border-top: 1px solid transparent;
    text-align: center;
    transition: all .5s ease;
    overflow: hidden;
  }
}




.cart-main {
  margin-top: 30px;
  max-height: 0;
  border-top: 1px solid transparent;
  height: 0;
  transition: all .5s ease;
  overflow: hidden;
  ul {
    &::-webkit-scrollbar {
      width: 5px;
      height: auto;
      background-color: transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar:horizontal {
      width: 0;
      height: 0;
    }
    &::-webkit-scrollbar-track {
      //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      height: 50px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .2);
      background-color: #333;
    }
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-height: 300px;
    width: 100%;
    overflow: scroll;
    li {
      overflow: auto;
      div {
        text-align: center;
        float: left;
      }
      .No {
        width: 10%;
        font-size: 16px;
      }
      .tittle {
        width: 75%;
      }
      .remove {
        width: 15%;
        text-align: right;
        i {
          position: relative;
          bottom: 2.5px;
          cursor: pointer;
        }
      }
    }
  }
}